.image-tag {
  max-width: 100%;
  /* object-fit: fill; */
}
.img-card {
  max-width: 100%;
}

.image-main-container {
  width: 100%;
  height: 110vh;
  background-image: url("/adventure1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.image-main-container div {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.357);
  color: white;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
  margin: 0 1rem;
  border-radius: 13px;
  text-decoration: underline;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .image-main-container {
    justify-content: center;
}
.image-main-container div{
    
    font-size: 1rem;
  }
}
